<button ng-click="exportPostedData(exportDataType);"class="btn btn-sm btn-primary">
	<i class="ace-icon fa fa-file-excel-o"></i>&nbsp;&nbsp;Export Data To Excel Format&nbsp;&nbsp;
</button>
<div class="table-responsive">
    <div class="panel panel-primary">
        <div class="panel-heading">POST Details - Listing
            <div class="sw-search" >
                <div class="nav-search" id="nav-search">
                        Filter: <span class="input-icon">
                            <input placeholder="Filter POST list ..." class="nav-search-input" 
								   ng-model="filterprofession" ng-change="resetLimit();"  autocomplete="off" 
								   type="text" style="width:300px;" focus>
                            <i class="search-icon fa fa-search nav-search-icon"></i>
                        </span>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div ng-controller="GetPOSTDetails">
                <table class="table table-striped table-condensed table-hover table-bordered">
                    <tr>
                        <th  class="productname" custom-sort order="'productname'" sort="sort">
							Product</th>
                        <th  class="subproductname" custom-sort order="'subproductname'" sort="sort">
							Sub-Product</th>
                        <th  class="posttitle" custom-sort order="'posttitle'" sort="sort">
							Post Title</th>
                        <th  class="postdtlsdescr" custom-sort order="'postdtlsdescr'" sort="sort">
							Short Description</th>
                        <th  class="postdescr" custom-sort order="'postdescr'" sort="sort">
							Description</th>
                        <th>Action</th>
                    </tr>
                    <tr ng-repeat="usrPostData in usrPostDetails | filter:filterprofession 
								    | orderBy:sort.sortingOrder:sort.reverse" 
                        id="{{usrPostData.postexploreid}}" ng-animate="'animate'" 
                        animate-on-change='usrPostData.productname'>
                        <td>{{usrPostData.productname}}</td>
                        <td>{{usrPostData.subproductname}}</td>
                        <td>{{usrPostData.posttitle}}</td>
                        <td>{{usrPostData.postdtlsdescr}}</td>
                        <td>{{usrPostData.postdescr}}</td>
                        <td style="width:150px">
                            <div class="btn-group">
								<button type="button" class="btn btn-default fa fa-thumbs-up" 
                                        ng-click="approvePost(usrPostData);"/>
                                <button type="button" class="btn btn-default fa fa-eye" 
                                        ng-click="viewPostDetails(usrPostData);"/>
                                <button type="button" class="btn btn-danger fa fa-trash-o" 
										ng-click="deletePost(usrPostData);">
								</button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>