<button type="button" class="btn btn-danger fa fa-plus" 
        ng-click="addEditProfession(newProfessionToAdd);">&nbsp;Add New PROFESSION</button>
<div class="table-responsive">
    <div class="panel panel-primary">
        <div class="panel-heading">PROFESSION Details - Listing
            <div class="sw-search" >
                <div class="nav-search" id="nav-search">
                        Filter: <span class="input-icon">
                            <input placeholder="Filter PROFESSION list ..." class="nav-search-input" 
								   ng-model="filterprofession" ng-change="resetLimit();"  autocomplete="off" 
								   type="text" style="width:300px;" focus>
                            <i class="search-icon fa fa-search nav-search-icon"></i>
                        </span>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div ng-controller="GetPROFESSIONDetails"  style="height: 500px; overflow: auto;">
                <table class="table table-striped  table-bordered">
                    <tr>
                        <th>Profession Name</th>
                        <th>Action</th>
                    </tr>
                    <tr ng-repeat="professionData in professionDatalist | filter:filterprofession " 
                        id="{{professionData.professionid}}" ng-animate="'animate'" 
                        animate-on-change='professionData.professionname'>
                        <td>{{professionData.professionname}}</td>
                        <td style="width:150px">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default fa fa-edit" 
                                        ng-click="addEditProfession(professionData);"/>
                                <button type="button" class="btn btn-danger fa fa-trash-o" 
										ng-click="deletePROFESSION(professionData);">
								</button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>