<button ng-click="exportUserData(exportDataType);"class="btn btn-sm btn-primary">
	<i class="ace-icon fa fa-file-excel-o"></i>&nbsp;&nbsp;Export Data To Excel Format&nbsp;&nbsp;
</button>

<div class="table-responsive">
    <div class="panel panel-primary">
        <div class="panel-heading">Bargain Users Details
            <div class="sw-search" >
                <div class="nav-search" id="nav-search">
                        Filter: <span class="input-icon">
                            <input placeholder="Filter User list ..." class="nav-search-input"
								   ng-model="filterqrcode" 
                                   ng-change="resetLimit();"  autocomplete="off" type="text"
								   style="width:300px;" focus>
                            <i class="search-icon fa fa-search nav-search-icon"></i>
                        </span>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div ng-controller="GetUserDetails" style="height: 500px; overflow: auto;">
                <table class="table table-striped table-condensed table-hover table-bordered">
                    <tr>
                        <th class="sysuserid" custom-sort order="'sysuserid'" sort="sort">
							System UserID</th>
                        <th class="fname" custom-sort order="'fname'" sort="sort">
							First Name</th>
                        <th class="lname" custom-sort order="'lname'" sort="sort">
							Last Name</th>
                        <th class="mobileno" custom-sort order="'mobileno'" sort="sort">
							Mobile</th>
                        <th class="usercategoryname" custom-sort order="'usercategoryname'" sort="sort">
							User Category</th>
                        <th class="usertype" custom-sort order="'usertype'" sort="sort">
							User Type</th>
                        <th class="professionname" custom-sort order="'professionname'" sort="sort">
							Profession</th>
                        <th class="creditpoints" custom-sort order="'creditpoints'" sort="sort">
							Credit Points</th>
                        <th class="isactive" custom-sort order="'isactive'" sort="sort">
							Active / Blocked</th>
                        <th>Action</th>
                    </tr>
                    <tr ng-repeat="userData in userDataList | filter:filterqrcode
								    | orderBy:sort.sortingOrder:sort.reverse" 
                        id="{{userData.userid}}" ng-animate="'animate'" 
                        animate-on-change='userData.fname'>
						<td>{{userData.sysuserid}}</td>
						<td>{{userData.fname}}</td>
                        <td>{{userData.lname}}</td>
                        <td>{{userData.mobileno}}</td>
                        <td>{{userData.usercategoryname}}</td>
                        <td>{{(userData.usertype=="s")? "Seller" : "Buyer"}}</td>
                        <td>{{userData.professionname}}</td>
                        <td>{{userData.creditpoints}}</td>
						<td>{{(userData.isactive==1)?"Active":"Blocked"}}
							<a class="btn btn-lg" ng-click="setActiveFlag(userData)">
							<i ng-class="{true: 'ace-icon fa fa-unlock', false: 'ace-icon fa fa-lock'}
										 [userData.isactive==1]"></i></a></td>
                        <td style="width:100px">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default fa fa-edit" 
                                        ng-click="ediUserData(userData);"/>
                                <button type="button" class="btn btn-danger fa fa-trash-o" 
                                        ng-click="deleteUser(userData);"/>
                            </div>
                        </td>

					</tr>
                </table>
            </div>
        </div>
    </div>
</div>
                
